<html>
    <head>
        <title>zirc's blog | <%= title %></title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/Zr.png" type="image/x-icon">
    </head>

    <body class="theme-<%= theme %>">
        <div class="sidebar">
            <div class="title-tag" onclick="location.href = '/posts/home'">
                <h2>zirc's blog</h2>
                <p>blog.zirc.lol</p>
            </div>
            <h2>Posts</h2>

            <% posts.map((post) => { %>
                <% if (post != "Home") { %>
                    [%] <a href="/posts/<%= post %>"><%= post %></a> <br />
                <% } %>
            <% }) %>

            <div class="settings">
                <label for="theme">Theme: </label>

                <select id="theme">
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>

                <button onclick="setTheme()">Submit</button>
            </div>
        </div>

        <div class="post">
            <%- post %>

            <p class="footer">
                <%= description %>
            </p>
        </div>

        <script>
            // https://stackoverflow.com/a/5968306
            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else
                {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                    end = dc.length;
                    }
                }

                return decodeURI(dc.substring(begin + prefix.length, end));
            }

            document.getElementById("theme").value = getCookie("theme")

            function setTheme() {
                const input = document.getElementById("theme")

                if (getCookie("theme") == input.value) {
                    location.reload()
                } else {
                    document.cookie = `theme=${input.value}`
                    location.reload()
                }
            }

            if (getCookie("theme") == null) {
                // set theme cookie :P
                document.cookie = "theme=dark"
                console.log("[Blog:Theme] Set theme to default")
                console.log("<%= theme.bg %>")
                location.reload()
            } else {
                let root = document.querySelector(":root")

                if (getCookie("theme")) {
                    root.style.setProperty("--bg-color", "")
                    root.style.setProperty("--sb-color", "")
                    root.style.setProperty("--fg-color", "")
                }
            }
        </script>
    </body>
</html>
